<!DOCTYPE html>
<html>
<head>
    <title>About</title>
</head>
<body>
    <h1>About Page</h1>
    <p>This is the about page for our EJS demo.</p>
     <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/">blog</a></li>
    <li><a href="/create"> New Blogs</a></li>
    </ul>
</body>
<%- include('footer') %>
</html>