<!DOCTYPE html>
<html>
<head>
    <title>Art room for writers</title>
</head>
<body>
    <h1>Write ur blogs and explore urself </h1>
    <p>Hello , Be ready to unlock a new dimension of urself in this process</p>
    <!-- <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/">blog</a></li>
    <li><a href="/blogs/create"> New Blogs</a></li>
    </ul> -->
    <%- include('nav') %>
    <form>
        <label for = "title">Blog title</label>

<!-- So here we add for and the purpose only so that we can specify 
 The type of input user can give in the input type tag.  -->
        <input type = "text" id = "title">

<!-- We define input type becasue we cannot have people typing out numbers
 when asked their name. 
 So that expalins it and without adding it the user  will not get the option for typein their data-->
        <label for ="snippet"> Blog summary</label>
        <input type = "text" id = "snippet">
        <label for = "body">Blog body</label>
        <input type = "text" id = "body">
        <button>Submit</button>
    </form>
</body>
<%- include('footer') %>
</html>
