<!DOCTYPE html>
<html>
<head>
    <title>Home</title>
</head>
<body>

<!-- But this is the same as what we did with HTML pages .
 Now lets Dive into dynamical data to be displayed on the frontend site -->

    <h1>Welcome to the Home Page</h1>
    <p>Hello</p>

    <!-- <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/">blog</a></li>
    <li><a href="/create"> New Blogs</a></li>
    </ul> -->
<!-- Instead we write a simple line for this whole thing-->
    <%- include('nav') %>
    <div>
        <h2>All Blogs</h2>
        <% if (blogs.length > 0) {%>
<!-- Ejs works in a diff way its same like js but here the tags are diffferent
 and also we write an '{' in one set of paranthesis and '}' in another unlike in js -->
            <% blogs.forEach(blog => { %>
            <h3><%= blog.title %></h3>
            <p><%= blog.snippet %> </p>
            <% }); %> 
        <% } else { %>
            <p> There are no blogs to display</p>
        <% } %>
    </div>
</body>
<%- include('footer') %>
</html>

<!-- ejs code will be converted into html file by the ejs server 
 and this is called Server rendering in ejs -->