<!-- So Ingeneral all our html files have the same links section.
 If we want to do change then we should do it for all the pages .
 Painstaking right , express and ejs have a way we can avoid that. -->

  <ul>
    <li><a href="/about">about</a></li>
    <li><a href="/">blog</a></li>
    <li><a href="/create"> New Blogs</a></li>
    </ul>

 <!--Here we copied the links section and now with ejs we connect this file to other html pages -->
 <!-- This can be done for any HTMl content as it makes our html page codes supeer simple .
  Easier for error detection in this way-->